/* something with Bulma or whatever other framework */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
h1{
    background-color:black;
    color: white;
    font-size:50px;
    text-align: center;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
   
}
.form{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color:brown;
    color: white;
    font-size: 30px;
}
#characterID{

}
#search{
    margin-right: 20px;
    background-color:gold;
    width: 6%;
    color: black;

}
.image{
   background-image: url(./endwalker.jpg);
   background-size: cover;
   padding: 20%;
}